:root {
  --pn_blue: #22bbea;
  --pn_blue_hover: #22bbea96;
  --pn_orange: #ff9933;
  --pn_orange_hover: #f87d02;
  --shadow: #c8d6e5;
  --footer: #ffeaa7;
  --grey: #555555;
  --red: red;
  --violet: violet;
  --orange: orange;
  --blue: #106eea;
  --green: green;
  --white: #f6f9fe;
  --black: #222222;
  --light_orange: #ff9900;
}
