.login_container {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.login_content {
  width: 500px;
  padding: 40px;
  box-shadow: 1px 3px 10px gray;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_title {
  font-size: 48px;
  font-weight: bold;
  color: var(--pn_blue);
}

.login_form {
  width: 100%;
  margin-top: 20px;
}

#pass {
  margin-top: 10px;
}

.login_body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
.login_remember {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.login_remember span {
  margin-left: 5px;
}

.login_button {
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  background-color: var(--pn_blue);
  border: 1px solid grey;
}

.login_footer {
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
}

.login_footer div {
  display: flex;
}

.login_footer a {
  margin-left: 5px;
}
